@import '../../assets/style/var';

.pagination {
  float: right;
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 8px 16px;
  button {
    padding: 10px;
    border-radius: 6px;
    border: $gray300 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: $gray800;
    font-size: 14px;
    transition: 0.3s ease-in-out background-color;
    &.active {
      background-color: $gray100;
    }
  }
}
