$white: #ffffff;

$gray50: #f8f9fa;

$gray100: #e0e5eb;
$gray200: #f0f3f7;

$gray300: #c3d5de;
$gray400: #9da6b4;
$gray500: #697180;

$gray700: #5e6674;

$gray800: #1f2939;

$red100: #fee3e3;
$red200: #fed7d7;
$red700: #c53030;
